<div id="contact" class="rounded-lg w-fit bg-transparent m-auto flex flex-col gap-10 p-10 justify-center h-screen">
    <div>
        <h2 class="text-center">Contact me!</h2>
    </div>
    <form class="flex flex-col gap-10">
        <div class="placeholder-container">
            <input id="name-input" required placeholder="" class="w-full pt-3 bg-transparent border-b-2 border-rose-500 focus:outline-none" type="text"/>
            <label for="name-input" class="placeholder">
                <span>Your name</span>
            </label>
            <div class="bottom-bar"></div>
        </div>
        <div class="placeholder-container">
            <input id="email-input" required placeholder="" class="w-full pt-3 bg-transparent border-b-2 border-rose-500 focus:outline-none" type="email"/>
            <label for="email-input" class="placeholder">
                <span>Your email</span>
            </label>
            <div class="bottom-bar"></div>
        </div>
        <div class="placeholder-container">
            <textarea rows="4" id="msg-input" required placeholder="" class="pt-3 resize-none bg-transparent border-b-2 border-rose-500 focus:outline-none"/>
            <label for="msg-input" class="placeholder">
                <span>Your message</span>
            </label>
            <div class="bottom-bar"></div>
        </div>
        <a id="submit-msg">Send Message</a>
    </form>
</div>

<script>
    let name: HTMLInputElement | null = document.querySelector("#name-input");
    let msg : HTMLTextAreaElement | null = document.querySelector("#msg-input");
    let submitMsg: HTMLAnchorElement | null = document.querySelector("#submit-msg");
    let subject = encodeURIComponent("Portfolio Contact");
    let msgValue = "";
    let nameValue = "";
    let nameWithMsg = "";

    if (name != null) {
        name.addEventListener("input", () => {
            nameValue = encodeURIComponent(name!.value);
            submitMsg!.href = `mailto:dangelo.diego.gabriel@gmail.com?subject=${subject}&body=Name:%20${nameValue}%0AMessage:%20${msgValue}`;
        })
    }
    if (msg != null) {
        msg.addEventListener("input", () => {
            msgValue = encodeURIComponent(msg!.value);
            nameWithMsg = `Name:%20${nameValue}%0AMessage:%20${msgValue}`
            submitMsg!.href = `mailto:dangelo.diego.gabriel@gmail.com?subject=${subject}&body=${nameWithMsg}`;
        });
    }
</script>

<style>
    .placeholder-container {
        position: relative;
    }

    .placeholder-container
        input:is(:not(:placeholder-shown), :focus) ~ .bottom-bar, textarea:is(:not(:placeholder-shown), :focus) ~ .bottom-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #fff;
    }

    .placeholder-container
        input:is(:not(:placeholder-shown), :focus) + .placeholder, textarea:is(:not(:placeholder-shown), :focus) + .placeholder {
        transform: translateY(-20px);
        color: rgb(244 63 94);
    }

    .placeholder {
        position: absolute;
        left: 0;
        top: 0;
        transition: transform 0.2s ease;
    }

    .bottom-bar {
        width: 0%;
        transition: width 0.2s ease;
    }
</style>
